<a href="/">Home</a>
     <div class="container" data-aos="fade-up">

         <div class="container">
                  <h2 class="text-center">Services</h2>
              <p class="text-center"><b>Zero's Lab </b>professionals provide an essential service to your company, but maintaining a dedicated IT team in-house is expensive and sometimes won't cover all of your needs. Enter IT service companies: contract IT experts who build, maintain, update, and service your software, hardware, and systems.</p>
                </div>

                <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

                  <div class="col-lg-3 col-md-4 col-6">
{#                      <a href="" target="_blank">#}

                    <div class="client-logo mx-4 my-4 container">
                      <img src="{{ service.image.url}}" style="height: 15rem; width: 25rem" class="img-fluid" alt="">
                        <h2>{{ service.name }}</h2>
                        <p>{{ service.description }}</p>
                    </div>
                  </div>


                </div>

      </div>
